<script type="text/javascript">(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//forms.aweber.com/form/60/304413460.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "aweber-wjs-q2ujizb84"));
</script>

<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
			<div style="display: none;">
			<input type="hidden" name="meta_web_form_id" value="304413460" />
			<input type="hidden" name="meta_split_id" value="" />
			<input type="hidden" name="listname" value="awlist5970350" />
			<input type="hidden" name="redirect" value="https://agileaffiliates.com/congratulations.html" id="redirect_4f2f445914693c36ede5d7924805a796" />
			<input type="hidden" name="meta_redirect_onlist" value="https://agileaffiliates.com/existingmember.html" />
			<input type="hidden" name="meta_adtracking" value="Agile Form" />
			<input type="hidden" name="meta_message" value="1001" />
			<input type="hidden" name="meta_required" value="email" />
			<input type="hidden" name="meta_forward_vars" value="1" />
			<input type="hidden" name="meta_tooltip" value="email||Your best email,,name||Your name" />
			</div>
			<div id="af-form-304413460" class="af-form"><div id="af-header-304413460" class="af-header"><div class="bodyText"><p style="text-align: center;"><span style="font-size: 18px;">&nbsp;<strong>Sign Up And Get A FREE Bonus, Boost Up Your Online Business</strong></span></p></div></div>
			<div id="af-body-304413460" class="af-body af-standards">
			<div class="af-element">
			<label class="previewLabel" for="awf_field-111132844"></label>
			<div class="af-textWrap"><input class="text" id="awf_field-111132844" type="text" name="email" value="Your best email" tabindex="500" onfocus=" if (this.value == 'Your best email') { this.value = ''; }" onblur="if (this.value == '') { this.value='Your best email';} " />
			</div><div class="af-clear"></div>
			</div>
			<div class="af-element">
			<label class="previewLabel" for="awf_field-111132845"></label>
			<div class="af-textWrap">
			<input id="awf_field-111132845" type="text" name="name" class="text" value="Your name"  onfocus=" if (this.value == 'Your name') { this.value = ''; }" onblur="if (this.value == '') { this.value='Your name';} " tabindex="501" />
			</div>
			<div class="af-clear"></div></div>
			<div class="af-element buttonContainer">
			<input name="submit" class="submit" type="submit" value="Sign Up Here!" tabindex="502" />
			<div class="af-clear"></div>
			</div>
			<div class="af-element privacyPolicy" style="text-align: center"><p>We respect your <a title="Privacy Policy" href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">email privacy</a></p>
			<div class="af-clear"></div>
			</div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132848" type="hidden" name="tag_111132848" value="money making online" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132849" type="hidden" name="tag_111132849" value="affiliate marketing" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132850" type="hidden" name="tag_111132850" value="earn money online" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132851" type="hidden" name="tag_111132851" value="online job" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132852" type="hidden" name="tag_111132852" value="work from from" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132853" type="hidden" name="tag_111132853" value="earn money from home" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132854" type="hidden" name="tag_111132854" value="part time job" /></div>
			<div class="af-element tag" style="display:none;"><input id="awf_tag-111132855" type="hidden" name="tag_111132855" value="part time income" /></div>
			</div>
			</div>
			<div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=zAwsLIzMLGwM" alt="" /></div>
</form>
