<!doctype html>
<html lang="en">
  <head>
	<title>Agile Affiliates | Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="keywords" content={{metaKeywords}}>
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>

<div class="bg">
  <div class="container">
	  <app-navigation></app-navigation>

	<div class="row">
		<div class="col-md-7 mt-4 pt-5 pt-lg-0">
			
			<div class="mt-5">
			    <h1 class="text-warning solid text-center">{{ titleTag }}</h1>
			</div>
			
		</div>
		<div class="col-md-5 mt-4 mb-4">			
			<app-optin></app-optin>	 
		</div>
		
		
		
	</div>
</div>
</div>